{
    "presets": [
        "env",
        "react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ],
    "test": [
        "jest"
    ]
}